[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit virtualenvs that power it
    */virtualenvs/*
    # testing tests, yes...
    test*.py
