[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
twine = "*"

[packages]
requests = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
