[project]
authors = [
    {name = "James Hodgkinson", email = "james@terminaloutcomes.com"}
]
classifiers = [
    "License :: OSI Approved :: MIT License"
]
dynamic = [
    "version",
    "description"
]

dependencies = [
    "requests",
    "aiohttp"
]

keywords = [
    "api",
    "solar",
    "pvoutput",
]
name = "pvoutput"
readme = "README.md"

[tool.poetry]
name = "pvoutput"
version = "0.0.9"
description = "Interface to the PVOutput API"
authors = ["yaleman <james@terminaloutcomes.com>"]
license = "MIT"

[project.optional-dependencies]
dev = [
    "pylint",
    "pytest",
    "mypy",
    "flit",
    "types-requests",
    "black",
]

doc = [
    "mkdocstrings",
    "mkdocs-material",
    "mkdocs",
]

test = [
    "aiofiles",
    "pylint-pytest",
    "pytest-asyncio",
    "requests-mock",
]

[project.urls]
Home = "https://github.com/yaleman/pvoutput"

[project.scripts]

[tool.flit.sdist]
exclude = [
    "requirements*.txt",
    ".gitignore",
    ".pylintrc",
    "test*",
    "./.*",
    "*.sh",
    "mkdocs.yml",
    "upload_to_pip",
    "docs/*",
]

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.27.1"
aiohttp = "^3.8.1"
mkdocs = {version = "^1.3.0", extras = ["docs"]}
mkdocstrings = {version = "^0.18.1", extras = ["docs"]}
mkdocs-material = {version = "^8.2.9", extras = ["docs"]}

[tool.poetry.dev-dependencies]
pylint = "^2.13.5"
mypy = "^0.942"
black = "^22.3.0"
pytest = "^7.1.1"
types-requests = "^2.27.19"
aiofiles = "^0.8.0"
pylint-pytest = "^1.1.2"
pytest-asyncio = "^0.18.3"
requests-mock = "^1.9.3"
types-aiofiles = "^0.8.8"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pylint.MASTER]
load-plugins="pylint_pytest"
max-line-length=200
disable="W0511,R0801"

[tool.pytest.ini_options]
asyncio_mode="strict"
